<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">

<dom-module id="tabs-element">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-tabs {
        background: black;
        color: white;
      }
    </style>
    <paper-tabs selected="0" >
      <paper-tab>Inicio</paper-tab>
      <paper-tab>Galeria</paper-tab>
      <paper-tab>Contactar</paper-tab>
      <paper-tab>Log-in</paper-tab>
    </paper-tabs>
  </template>

  <script>
    /**
     * `tabs-element`
     * elemento tabs navegacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TabsElement extends Polymer.Element {
      static get is() { return 'tabs-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tabs-element'
          }
        };
      }
    }

    window.customElements.define(TabsElement.is, TabsElement);
  </script>
</dom-module>
